<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lemonade Stand Budget Tracker</title>
</head>
<body>
    <a href="/"> Take me back </a>
    <!-- display the info of a user specified row number (specified inside the URI)-->
    <h1>Date:</h1>
    <h2>{{data['date']}}</h2>
    <h1>Income or Expense:</h1>
    <h2>{{data['income or expense']}}</h2>
    <h1>Amount:</h1>
    <h2>{{data['amount']}}</h2>
    <h1>Description:</h1>
    <h2>{{data['description']}}</h2>

</body>
</html>